body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: darkgreen;
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100%;
}
nav a {
  padding: 0 8px;
}

.content {
  margin-top: 64px;
  padding: 16px;
}